.container-s {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .get-in-touch {
    background-image: url(/assets/img/backgrounds/get-in-touch-background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  .container-s {
    max-width: 612px;
  }
}
@media (min-width: 1200px) {
  .container-s {
    max-width: 741px;
  }
}
@media (min-width: 1400px) {
  .container-s {
    max-width: 865px;
  }
}

.form-box {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.application-btn {
  border: 3px solid #a75189;
  background-color: transparent;
}

.application-btn:hover {
  background-color: #a75189;
  color: white;
}

.form-container {
  width: 685px !important;
}

.get-in-touch {
  background-color: #373535;
}

@media (max-width: 1450px) {
}

@media (max-width: 768px) {
  .form-container {
    width: 100% !important;
  }
}

.btn-2 {
  border: 3px solid #606163;
  background-color: #a9abad;
  color: white;
  padding: 0 100px !important;
}

.btn-2:hover {
  background-color: #606163;
  color: white;
}

#application {
  background-color: #e5e6e7;
}
